<!--begin::Footer-->
<footer class="app-footer">
    <!--begin::Copyright-->
    <a href="https://github.com/GoPowerDNS-Admin/GoPowerDNS-Admin" class="text-decoration-none">{{.AppVersion}}</a>
    <!--end::Copyright-->
</footer>
<!--end::Footer-->
